@use '../utils/variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

html {
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    font-family: 'platypi';
    color: variable.$primary;
    font-size: 2.5rem;
}
.subtitle {
    color: variable.$primary;
}
.para {
    color: variable.$primary;
}

.line {
    width: 50px;
    margin: auto;
    border: 1px solid variable.$secondary;
    margin: .5rem auto;
}