.input {
    font-size: 1rem;
    border: 1px solid #d1d1d1;
    outline: none;
    background: none;
    transition: .3s;
    width: 100%;
    margin: .5rem 0;
    padding: 1rem 3rem;
    color: $primary;
    
    &-content {
        position: relative;
        // margin: 1rem 0; 
        flex: 1;
    }
    &-label {
        position: absolute;
        left: 1rem;
        top: -.2rem;
        background: $tertiary;
        padding: 0 .5rem;
        color: $primary;
        font-weight: bold;
    }
    &-icon {
        position: absolute;
        left: 1rem;
        top: 1.4rem;
        color: $primary;
        font-size: 1.3rem;
    }
}