@font-face {
  font-family: "josefin";
  src: url("../font/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url("../font/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "platypi";
  src: url("../font/Platypi-VariableFont_wght.ttf");
}
.btn {
  font-size: 1rem;
  font-family: "montserrat";
  color: #024058;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

.btn-primary {
  padding: 1rem 2rem;
  background: #023042;
  color: white;
  transition: 0.3s;
}

.btn-secondary {
  padding: 1rem 2rem;
  background: #088a86;
  color: white;
  transition: 0.3s;
}

.btn-tertiary {
  padding: 1rem 2rem;
  background: #f2f6f7;
  color: #023042;
  transition: 0.3s;
}

.nav {
  background: #f2f6f7;
  z-index: 1;
}
.nav-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #023042;
}
.nav-top-link {
  color: #f2f6f7;
  padding: 1rem;
  transition: 0.3s;
}
.nav-navbar {
  background: #f2f6f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  box-shadow: 0px -4px 13px 0px #3f3f3f;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav-navbar-item {
  display: flex;
  align-items: center;
}
.nav-navbar-item-img {
  width: 3rem;
  aspect-ratio: 2/2;
  border-radius: 50%;
}
.nav-navbar-logo {
  color: #023042;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav-navbar-logo-icon {
  font-size: 3rem;
  color: #9e0f0f;
}
.nav-navbar-logo-title {
  font-size: 1.3rem;
}
.nav-navbar-link {
  padding: 1rem;
  color: #023042;
  transition: 0.3s;
}
.nav-navbar-icon {
  font-size: 1.5rem;
  color: #023042;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transform: scale(1);
  display: none;
  transition: 0.3s;
}
.nav-navbar-icon:hover {
  transform: scale(1.3);
}
.nav-navbar .hide {
  color: #f2f6f7;
  right: 1rem;
  bottom: 0.5rem;
  transform: scale(1);
  display: block;
}
.nav-navbar .hide:hover {
  background: none;
  transform: scale(1.3);
}
.nav-navbar-icons {
  font-size: 1.2rem;
}
.nav-navbar-btn-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .dash-rdv {
    flex-direction: column;
  }
}
@media screen and (max-width: 968px) {
  #navbar-item {
    flex-direction: column;
    position: fixed;
    top: -20rem;
    left: 0;
    width: 100%;
    background: rgba(45, 45, 45, 0.5411764706);
    backdrop-filter: blur(2px);
    transition: 0.5s;
  }
  .nav-navbar-link {
    color: #f2f6f7;
  }
  .bar {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 90% !important;
  }
  .connexion-right {
    display: none;
  }
  .connexion-form {
    width: 80% !important;
  }
  .header-content {
    flex-direction: column;
  }
  .header-content-right {
    padding-top: 2rem;
  }
  .header-content-right-content {
    position: static !important;
    text-align: center;
  }
  .header-content-right-line {
    margin: auto;
  }
  .about-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .actuality-card {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .dash-left-nav {
    position: fixed;
    height: 100vh !important;
    background: rgba(214, 245, 245, 0.3843137255) !important;
    backdrop-filter: blur(5px);
    z-index: 1;
    left: -20rem;
  }
  .dash-left-nav-btn {
    display: block !important;
  }
  .dash-left-nav-profile {
    text-align: center;
  }
  .dash-left-nav-profile-img {
    width: 50% !important;
  }
  .dash-menu {
    display: block !important;
  }
  .dash-nav {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 2px 6px #d6d6d6;
  }
  .equipe-card {
    flex-direction: column;
  }
  .service-card {
    grid-template-columns: 1fr 1fr !important;
  }
  .contact-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  section {
    padding: 0 1rem !important;
  }
  .nav-navbar {
    padding: 0 1rem;
    overflow: hidden;
  }
  .nav-navbar-text {
    display: none;
  }
  .header-content {
    padding: 1rem !important;
  }
  .appointment-form-content {
    padding: 0 !important;
  }
  .input-date-content {
    flex-direction: column;
    gap: 0 !important;
  }
  .connexion {
    padding: 4rem 2rem !important;
  }
  .connexion-form {
    width: 100% !important;
  }
  .connexion-left {
    padding: 1rem !important;
  }
  .connexion-btn {
    width: 100%;
  }
  .actuality {
    padding: 0.5rem !important;
  }
  .actuality-card {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .footer {
    flex-direction: column;
    padding: 1rem !important;
  }
  .service-card {
    grid-template-columns: 1fr !important;
  }
  .service-para {
    text-align: left;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 70% !important;
  }
  .dash-left-nav {
    left: -23rem;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 110% !important;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 120% !important;
  }
  .dash-left-nav {
    height: 100vh !important;
    max-width: 300px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 170% !important;
  }
  .dash-left-nav {
    max-width: 400px !important;
  }
  .dash-rdv-list-content {
    height: 450px !important;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 200% !important;
  }
  .dash-rdv-list-content {
    height: 450px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

html {
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  font-family: "platypi";
  color: #023042;
  font-size: 2.5rem;
}

.subtitle {
  color: #023042;
}

.para {
  color: #023042;
}

.line {
  width: 50px;
  margin: auto;
  border: 1px solid #088a86;
  margin: 0.5rem auto;
}

.input {
  font-size: 1rem;
  border: 1px solid #d1d1d1;
  outline: none;
  background: none;
  transition: 0.3s;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem 3rem;
  color: #023042;
}
.input-content {
  position: relative;
  flex: 1;
}
.input-label {
  position: absolute;
  left: 1rem;
  top: -0.2rem;
  background: #f2f6f7;
  padding: 0 0.5rem;
  color: #023042;
  font-weight: bold;
}
.input-icon {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
  color: #023042;
  font-size: 1.3rem;
}

::-webkit-scrollbar {
  width: 1rem;
  background: #f2f6f7;
}

::-webkit-scrollbar-thumb {
  background: #088a86;
}

.header-content {
  background: linear-gradient(rgba(59, 59, 59, 0.568627451), rgba(20, 21, 21, 0.8117647059)), url("../../public/images/dr-paysage.jpg");
  background-size: cover;
  background-position: top;
  padding: 4rem;
  min-height: 90vh;
  display: flex;
}
.header-content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header-content-right {
  flex: 1;
  position: relative;
}
.header-content-right-content {
  background: rgba(7, 8, 8, 0.3215686275);
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #088a86;
}
.header-content-right-title {
  font-family: "montserrat";
  color: #088a86;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.header-content-right-line {
  width: 40px;
  border: 1px solid #f2f6f7;
  margin-block: 0.5rem;
}
.header-content-right-para {
  color: #f2f6f7;
}
.header-content-right-subtitle {
  color: #f2f6f7;
}
.header-content-title {
  color: #f2f6f7;
  font-size: 2.5rem;
}
.header-content-title-style {
  font-family: "platypi";
  text-decoration: underline #088a86;
}
.header-content-para {
  color: #f2f6f7;
}
.header-content-container_btn {
  margin-top: 2rem;
}

.connexion {
  background: url("../../public/images/bg-connexion.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 4rem;
}
.connexion .subtitle {
  text-align: center;
}
.connexion-form {
  background: #f2f6f7;
  right: 4rem;
  top: 2rem;
  width: 60%;
  margin: auto;
}
.connexion-form-content {
  margin: auto;
  width: 60%;
  position: relative;
  box-shadow: 0px 0px 10px 0px #088a86;
}
.connexion-left {
  padding: 2rem;
}
.connexion-btn-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.connexion-right {
  flex: 1;
  height: 100%;
  position: relative;
}
.connexion-right-img {
  width: 100%;
  height: 100%;
}
.connexion-para {
  font-size: 0.8rem;
}
.connexion-subtitle {
  color: #f2f6f7;
  background: rgba(2, 48, 66, 0.5490196078);
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 1rem;
  width: 100%;
}
.connexion-link {
  bottom: 1rem;
  margin: auto;
  width: 100%;
  text-align: center;
}
.connexion-input-icon {
  color: #023042;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}
.connexion #show-psd {
  display: none;
}

.close {
  font-size: 2rem;
  color: #023042;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.8rem;
  transition: 0.3s;
  z-index: 1;
}

.about {
  padding: 4rem;
}
.about-content {
  display: flex;
  padding: 2rem 0;
}
.about-contact {
  flex: 1;
}
.about-contact-icon {
  font-size: 2rem;
  color: #088a86;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.about-contact-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}
.about-contact-link {
  color: black;
}
.about-social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about .fb, .about .insta {
  color: #088a86;
}
.about-service {
  flex: 1;
}
.about-service-item {
  margin: 1rem 0;
}
.about-service-item-title {
  position: relative;
  background: #f2f6f7;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.about-service-item-title-btn {
  position: absolute;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.about-service-item-icon {
  font-size: 1.5rem;
  background: #088a86;
  color: #f2f6f7;
  padding: 0.7rem 0.8rem;
}
.about-service-item-para {
  padding-left: 3rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.about-service-link {
  float: left;
}
.about-subtitle {
  margin-bottom: 1rem;
}

.equipe {
  background: #f2f6f7;
  padding: 6rem 4rem;
  text-align: center;
}
.equipe-card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0;
}
.equipe-card-item {
  flex: 1;
  position: relative;
  height: 30vw;
  transition: 0.3s;
  overflow: hidden;
}
.equipe-card-item:hover {
  box-shadow: 0px 5px 8px #8c8c8c;
}
.equipe-card-item:hover .equipe-card-desc-content {
  opacity: 1;
  transform: translateY(0);
  height: 100%;
}
.equipe-card-img_container {
  width: 100%;
  height: 100%;
}
.equipe-card-img {
  width: 100%;
  object-fit: cover;
}
.equipe-card-desc {
  padding: 1rem 0;
  background: rgba(0, 66, 64, 0.5254901961);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.equipe-card-desc-content {
  text-align: start;
  color: #f2f6f7;
  background: rgba(1, 105, 102, 0.3098039216);
  padding: 1rem 0.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(-10px);
  height: 0;
  transition: 0.3s;
}
.equipe-card-desc-icon {
  font-size: 2rem;
  color: #f2f6f7;
  transition: 0.3s;
  margin: 0.5rem;
}
.equipe-card-desc-icon-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
}
.equipe-card-desc-btn {
  margin-top: 2rem;
  text-align: center;
}
.equipe-card-name {
  color: #f2f6f7;
  font-size: 1rem;
}
.equipe-card-post {
  color: #f2f6f7;
  text-transform: uppercase;
}

.appointment-form-content {
  background: url("../../public/images/bg-connexion.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem;
}
.appointment-form {
  padding: 2rem;
  background: #f2f6f7;
  width: 80%;
  margin: auto;
}
.appointment-title {
  text-align: center;
}
.appointment-para {
  text-align: center;
}
.appointment .input-date-content {
  display: flex;
  gap: 2rem;
}

.actuality {
  width: 100%;
  padding: 4rem;
  text-align: center;
}
.actuality-para {
  margin-bottom: 2rem;
}
.actuality-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 60vh;
  margin: auto;
}
.actuality-card-item {
  position: relative;
  overflow: hidden;
  flex: 1;
  aspect-ratio: 3/4;
  transition: 0.2s;
}
.actuality-card-item:hover .actuality-card-item-desc {
  opacity: 1;
  transform: translateY(0);
}
.actuality-card-item:hover .actuality-card-item-img {
  transform: rotateY(0);
}
.actuality-card-item-title {
  font-weight: bold;
}
.actuality-card-item-img_container {
  width: 100%;
  height: 100%;
}
.actuality-card-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(160deg);
  transition: 0.6s;
}
.actuality-card-item-desc {
  position: absolute;
  width: 100%;
  background: linear-gradient(rgba(242, 246, 247, 0.0117647059), rgba(2, 48, 66, 0.7215686275), rgba(2, 48, 66, 0.8117647059));
  bottom: 0;
  left: 0;
  color: #f2f6f7;
  padding: 0.3rem 0.5rem;
  text-align: start;
  transition: 0.5s ease-out;
  transform: translateY(20px);
  opacity: 0;
}

.footer {
  display: flex;
  padding: 4rem;
  background: #023042;
  position: relative;
}
.footer-logo {
  color: #f2f6f7;
}
.footer-desc {
  flex: 1;
}
.footer-para {
  margin: 1rem 0;
  color: #f2f6f7;
}
.footer-desc-social-media {
  display: flex;
}
.footer-desc-social-media-link {
  padding: 1rem 1.5rem;
  font-size: 2rem;
  color: #f2f6f7;
  transition: 0.3s;
}
.footer-nav {
  flex: 1;
}
.footer-nav-list {
  padding: 1rem 0;
}
.footer-nav-item {
  padding: 0.4rem;
}
.footer-nav-link {
  color: #f2f6f7;
  padding: 0.3rem;
}
.footer-para-bottom-content {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 1rem;
}
.footer-para-bottom {
  color: #f2f6f7;
  font-size: 0.8rem;
}

.service {
  text-align: center;
  padding: 4rem;
}
.service-para {
  max-width: 500px;
  margin: auto;
}
.service-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: start;
  gap: 2rem;
  margin: 2rem 0;
}
.service-card-item {
  background: #f2f6f7;
  padding: 1.5rem;
  box-shadow: 0px 2px 7px #b4b4b4;
}
.service-card-img {
  width: 100%;
  aspect-ratio: 4/3;
}
.service-card-icon {
  font-size: 2rem;
  color: #f2f6f7;
  background: #088a86;
  padding: 0.5rem 0.7rem;
}
.service-card-title {
  margin: 1.5rem 0 0.5rem;
}

.contact {
  padding: 4rem;
}
.contact-btn-content {
  background: #f2f6f7;
  padding: 2rem;
}
.contact-subtitle {
  text-align: center;
  color: #088a86;
}
.contact-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}
.contact-btn-item {
  flex: 1;
  background: #023042;
  color: #f2f6f7;
  padding: 1rem;
  transform: translateY(4rem);
}
.contact-btn-icon {
  font-size: 2rem;
}
.contact-btn-title {
  color: #088a86;
}
.contact-btn-link {
  font-size: 0.8rem;
  padding: 0.5rem 0;
}
.contact-input-content {
  flex: 1.5;
}
.contact-input-desc {
  flex: 1;
}
.contact-input-desc-icon-list {
  text-align: center;
  padding: 1rem;
}
.contact-input-desc-icon-link {
  font-size: 2rem;
  color: #023042;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.contact-input-title {
  padding: 1rem 0;
  text-align: center;
}
.contact-input-subtitle {
  padding: 0.5rem 0;
}
.contact-content {
  display: flex;
  gap: 2rem;
  margin-top: 6rem;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.contact-form-content {
  position: relative;
}
.contact-form-msg {
  grid-row: 2;
  grid-column: 1/span 2;
}
.contact-label {
  font-weight: bold;
  color: #023042;
  padding: 1rem 0;
}
.contact-input {
  border: none;
  border-bottom: 2px solid #023042;
  padding: 0.2rem 0;
  font-size: 1rem;
  outline: none;
  color: #023042;
  width: 100%;
}
.contact-input-btn {
  padding: 1rem 0;
}

.profile {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 20vw;
  aspect-ratio: 2/2;
  border-radius: 50%;
}
.profile-desc {
  background: #f2f6f7;
  padding: 2rem;
}
.profile-para {
  margin-bottom: 2rem;
}

.dashboard {
  padding: 0 4rem;
  display: flex;
  gap: 2rem;
}
.dashboard .dash-header {
  flex: 2;
  padding: 2rem 0;
}
.dashboard .dash-left-nav {
  padding: 2rem 1rem;
  max-width: 250px;
  background: #f2f6f7;
  height: auto;
  transition: 0.3s;
}
.dashboard .dash-left-nav-btn {
  font-size: 2rem;
  color: #023042;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  display: none;
  cursor: pointer;
}
.dashboard .dash-left-nav-link {
  color: #023042;
  font-size: 1.5rem;
}
.dashboard .dash-left-nav-profile-img {
  width: 100%;
  aspect-ratio: 2/2;
  border-radius: 50%;
  border: 4px solid #088a86;
  padding: 0.3rem;
  margin-top: 0.5rem;
}
.dashboard .dash-left-nav-profile-name {
  text-align: center;
}
.dashboard .dash-left-nav-profile-role {
  text-align: center;
}
.dashboard .dash-left-nav-menu {
  margin-top: 2rem;
}
.dashboard .dash-left-nav-menu-text {
  font-size: 1rem;
}
.dashboard .dash-left-nav-menu-link {
  color: #023042;
  padding: 0.5rem;
  transition: 0.3s;
  width: 100%;
  display: inline-block;
  position: relative;
}
.dashboard .dash-left-nav-menu-link-btn {
  text-align: start;
}
.dashboard .dash-left-nav-menu-icon {
  font-size: 1.5rem;
}
.dashboard .dash-left-nav-menu-arrow {
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  transition: 0.4s;
}
.dashboard .dash-left-nav-dropdown {
  display: none;
}
.dashboard .dash-left-nav .show {
  display: block;
}
.dashboard .dash-left-nav .dash-dropdown-item {
  padding-left: 2rem;
}
.dashboard .dash-nav {
  background: #f2f6f7;
  padding: 1rem;
}
.dashboard .dash-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard .dash-nav-list-btn {
  font-size: 2rem;
  color: #023042;
  cursor: pointer;
  display: none;
}
.dashboard .dash-nav-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.dashboard .dash-nav-icon {
  font-size: 1.5rem;
  color: #023042;
}
.dashboard .dash-nav-search {
  position: relative;
}
.dashboard .dash-nav-search-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  color: #023042;
}
.dashboard .dash-nav-search-input {
  padding: 0.5rem 2.3rem;
  color: #023042;
  font-size: 1rem;
  outline: none;
  border: none;
}
.dashboard .dash-stat-card {
  padding: 1rem 0;
}
.dashboard .dash-stat-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.dashboard .dash-stat-card-item {
  background: #f2f6f7;
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
}
.dashboard .dash-stat-card-icon {
  font-size: 3rem;
  color: #088a86;
  border: 3px solid #088a86;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 0.3rem;
}
.dashboard .dash-stat-card-title {
  font-weight: bold;
}
.dashboard .dash-stat-card-subtitle {
  padding: 0.5rem 0;
}
.dashboard .dash-stat-card-para {
  font-size: 0.8rem;
}
.dashboard .dash-rdv {
  display: flex;
  gap: 1rem;
  position: relative;
}
.dashboard .dash-rdv-now {
  background: #f2f6f7;
  padding: 1rem;
  flex: 1;
}
.dashboard .dash-rdv-now-link {
  color: #f2f6f7;
  background: #023042;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}
.dashboard .dash-rdv-title-list {
  display: flex;
  align-items: center;
}
.dashboard .dash-rdv-title-item {
  flex: 1;
  padding: 0.5rem 0;
}
.dashboard .dash-rdv-list {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.dashboard .dash-rdv-list-content {
  height: 230px;
  overflow-y: auto;
}
.dashboard .dash-rdv-item {
  flex: 1;
}
.dashboard .dash-rdv-img {
  width: 50px;
  aspect-ratio: 2/2;
  border-radius: 50%;
}
.dashboard .dash-rdv-hour {
  font-weight: bold;
}
.dashboard .dash-rdv-request {
  flex: 1;
  background: #f2f6f7;
  padding: 1rem;
  position: relative;
}
.dashboard .dash-rdv-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.dashboard .dash-rdv-btn {
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.dashboard .dash-rdv-btn-ok {
  background: #3e9e63;
  color: #f2f6f7;
}
.dashboard .dash-rdv-btn-no {
  background: #c23c3c;
  color: #f2f6f7;
}

.user {
  background: #f2f6f7;
  padding: 1rem;
}
.user-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #088a86;
}
.user-table-list {
  overflow: auto;
}
.user-table-img {
  width: 50px;
  aspect-ratio: 2/2;
  border-radius: 50%;
  border: 0.1rem solid #088a86;
  padding: 0.1rem;
}
.user-table-row-head {
  background: #088a86;
  color: #f2f6f7;
}
.user-table-row-head th {
  padding: 0.8rem 0.5rem;
}
.user-table-row-def td {
  padding: 0.2rem 0.5rem;
}
.user-table-row-def:nth-child(odd) {
  background: white;
}

.service-table-img {
  width: 80px;
  aspect-ratio: 2/2;
  border: 0.1rem solid #088a86;
  padding: 0.2rem;
}

.add-service {
  background: #f2f6f7;
  padding: 1rem 2rem;
}
.add-service-title {
  margin-bottom: 1rem;
}
.add-service-form {
  margin: auto;
}

.nav-navbar-logo-icon {
  transform: scale(1);
  animation: heartBeat 1s infinite cubic-bezier(0, 1.28, 0.46, 1.16);
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
.connexion-form-content {
  animation: animatetop 0.5s;
}

@keyframes animatetop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: transleteY(0);
    opacity: 1;
  }
}
.connexion-left {
  animation: showLeft 0.8s;
}

@keyframes showLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.nav-top-link:hover {
  background: #f2f6f7;
  color: #023042;
}
.nav .active, .nav-navbar-link:hover {
  font-weight: bold;
}

.btn-primary:hover {
  opacity: 0.9;
  background: #023042;
}
.btn-secondary:hover {
  background: #05706d;
}
.btn-tertiary:hover {
  opacity: 0.9;
}

.close:hover {
  background: #e73535;
  color: #f2f6f7;
}

.about .active, .about-service-item-title:hover {
  background: #e7e7e7;
}

.fb:hover {
  background: #3131f1;
  color: #f2f6f7;
}

.insta:hover {
  background: linear-gradient(45deg, #ff1c1c, #7c0fd6);
  color: #f2f6f7;
}

.facebook:hover {
  color: #3838f8;
}

.instagram:hover {
  color: #cc2121;
}

.dash-rdv-btn-ok:hover {
  background: #24683e;
}

.dash-rdv-btn-no:hover {
  background: #962b2b;
}

.dash-rdv-now-link:hover {
  opacity: 0.9;
}

.dash-left-nav-menu-link:hover {
  background: #023042;
  color: #f2f6f7;
}

.dash-left-nav-menu-link:hover .dash-dropdown-item {
  color: #f2f6f7;
}

.input:focus {
  border: 1px solid #0ec2bc;
  box-shadow: 0px 0px 20px 0px rgba(9, 166, 161, 0.2901960784);
}

/*# sourceMappingURL=style.css.map */
