@use '../utils/variable';

.profile {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
        width: 20vw;
        aspect-ratio: 2/2;
        border-radius: 50%;
        
    }
    &-desc {
        background: variable.$tertiary;
        padding: 2rem;
    }
    &-para {
        margin-bottom: 2rem;
    }
}