
@font-face {
    font-family: 'josefin';
    src: url('../font/JosefinSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'montserrat';
    src: url('../font/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'platypi';
    src: url('../font/Platypi-VariableFont_wght.ttf');
}

$primary: #023042;
$secondary: #088a86;
$tertiary: #f2f6f7;