@media  screen and (min-width: 1024px) {
    html {font-size: 110% !important;}
}
@media screen and (min-width: 1146px) {
    
}
@media screen and (min-width: 1440px) {
    html {
        font-size: 120% !important;
    }
    .dash-left-nav {
        height: 100vh !important;
        max-width: 300px !important;
    }
}
@media screen and (min-width: 1920px) {
    html {
        font-size: 170% !important;
    }
    .dash-left-nav {
        max-width: 400px !important;
    }
    .dash-rdv-list-content {
        height: 450px !important;
    }
}
@media screen and (min-width: 2560px) {
    html {
        font-size: 200% !important;
    }
    .dash-rdv-list-content {
        height: 450px !important;
    }
}