
.nav {
    &-top-link:hover {
        background: $tertiary;
        color: $primary;
    }
    .active, &-navbar-link:hover {
        font-weight: bold;
    }
}

.btn {
    &-primary:hover {
        opacity: .9;
        background: $primary;
    }
    &-secondary:hover {
        background: #05706d;
    }
    &-tertiary:hover {
        opacity: .9;
    }
}
.close:hover {
    background: #e73535;
    color: $tertiary;
}

.about {
    .active, &-service-item-title:hover {
        background: #e7e7e7;
    }
}

// ICON
.fb:hover {
    background: #3131f1;
    color: $tertiary;
}
.insta:hover {
    background: linear-gradient(45deg, #ff1c1c, #7c0fd6);
    color: $tertiary;
}

.facebook:hover {
    color: #3838f8;
}
.instagram:hover {
    color: #cc2121;
}

.dash-rdv-btn-ok:hover {
    background: #24683e;
}
.dash-rdv-btn-no:hover {
    background: #962b2b;
}
.dash-rdv-now-link:hover {
    opacity: .9;
}

.dash-left-nav-menu-link:hover {
    background: $primary;
    color: $tertiary;
}
.dash-left-nav-menu-link:hover .dash-dropdown-item  {
    color: $tertiary;
}

.input:focus {
    border: 1px solid #0ec2bc;
    box-shadow: 0px 0px 20px 0px #09a6a14a;
}